<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>

        <h1 id="autor">Autor: Carlos Villoldo Rivas</h1>

        <div id="app">
          <div class="jumbotron" style="margin-left:10px;">
            <h1 class="display" id="title">{{col.collection.title}}</h1>
          </div>
          <item-data></item-data>
        </div>


        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">
          
        </script>
        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">
          <div class="container">
            <div class="card-group">
            <div class="card"  v-for="item in item"> 
              <div class="card-body" id="Listado-datos" v-show="datos">

                  <dl v-for="d in item.data">
                    <dt>{{d.prompt}}</dt>
                    <dd>{{d.value}}</dd>       
                  </dl>
                <a class="btn btn-primary" v-bind:href="item.href" role="button">Ver</a>
                <button class="btn btn-secondary"  v-on:click="toggleEditFormVisibility()" >Editar</button>
              </div>
              <div class="card-body " v-show="edicion">
                  <dl v-for="d in item.data">
                    <dd>{{d.prompt}}</dd>
                    <input type="text"v-model="d.value">
                  </dl>
                <button class="btn btn-primary"  v-on:click="closeForm">Cerrar</button> 
              </div>
            </div>
            </div>
          </div>

    </script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="./js/script.js"></script>

    </body>

</html>
